{# templates/default/post/post.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>
        <div>
            <p>{{id}}</p>
            <p>{{slug}}</p>
            <p>{{published}}</p>
            <p>{{author_email}}</p>
            <p>{{title}}</p>
            <p>{{content}}</p>
        </div>
{% endblock %}
