{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Posts</h1>
        <div class="row">
            {% for article in articles %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ article.title }} {{ article.id }}</h4>
                        <p class="card-text">{{ article.content }}</p>
                        <a href="{{ article.slug }}" class="card-link">More...</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <a type="button" href="{{ addPostSlug }}" class="btn btn-primary" target="_blank">Add post</a>
        </div>
    </div>
{% endblock %}
